{% extends "base_extension.html" %}
{% load static %}
{% load bag_tools %}

{% block extra_title %}
- Bag
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'bag/css/bag.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container mb-2">
  <div class="row">
    <div class="col">
      <hr>
      <h2 class="logo-font my-4 text-center">Shopping Bag</h2>
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="bag-container col text-center mt-5">
      {% if bag_items %}
      <!-- mobile display -->
      <div class="bag-container-mobile d-block d-lg-none">
        <div class="row pt-2">
          <div class="col">
            {% include "bag/bag-total.html" %}
          </div>
        </div>
        <div class="row pt-3 pb-4">
          <div class="col">
            {% include "bag/checkout-buttons.html" %}
            <p class="text-muted mb-5 mt-3">A summary of your bag contents is below</p>
          </div>
        </div>
        {% for item in bag_items %}
        <div class="row">
          <div class="col-12 col-sm-6 mb-2 product-image">
            {% include "bag/product-image.html" %}
          </div>
          <div class="col-12 col-sm-6 mb-2">
            {% include "bag/product-info.html" %}
          </div>
          <div class="col-12 col-sm-6 order-sm-last mt-4">
            <p class="my-0 mx-2">Price Each: ${{ item.product.price }}</p>
            <p class="mx-2"><strong>Subtotal: </strong>${{ item.product.price | calc_subtotal:item.quantity }}</p>
          </div>
          <div class="col-12 col-sm-6 mt-4">
            {% include "bag/quantity-form.html" %}
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-5">
          </div>
        </div>
        {% endfor %}
        <div class="btt-button-top shadow-sm rounded-0 border border-grey">
          <a class="btt-link-top d-flex h-100">
            <i class="fas fa-arrow-up text-grey mx-auto my-auto"></i>
          </a>
        </div>
        <div class="btt-button-down shadow-sm rounded-0 border border-grey">
          <a class="btt-link-bottom d-flex h-100">
            <i class="fas fa-arrow-down text-grey mx-auto my-auto"></i>
          </a>
        </div>
      </div>
      <div class="btt-button-top shadow-sm rounded-0 border border-grey">
      	<a class="btt-link-top d-flex h-100">
      		<i class="fas fa-arrow-up text-grey mx-auto my-auto"></i>
      	</a>
      </div>
      <div class="btt-button-down shadow-sm rounded-0 border border-grey">
      	<a class="btt-link-bottom d-flex h-100">
      		<i class="fas fa-arrow-down text-grey mx-auto my-auto"></i>
      	</a>
      </div>

      <!-- desktop display -->
      <div class="bag-container-desktop table-responsive rounded d-none d-lg-block ">
        <table class="table table-sm table-borderless">
          <thead class="text-black">
            <tr>
              <th scope="col">Product Info</th>
              <th scope="col"></th>
              <th scope="col">Price</th>
              <th scope="col">Qty</th>
              <th scope="col">Subtotal</th>
            </tr>
          </thead>

          {% for item in bag_items %}
          <tr>
            <td class="p-3 w-25">
              {% include "bag/product-image.html" %}
            </td>
            <td class="py-3">
              {% include "bag/product-info.html" %}
            </td>
            <td class="py-3">
              <p class="my-0 mx-2">${{ item.product.price }}</p>
            </td>
            <td class="py-3 w-25">
              {% include "bag/quantity-form.html" %}
            </td>
            <td class="py-3">
              <p class="my-0 mx-2">${{ item.product.price | calc_subtotal:item.quantity }}</p>
            </td>
          </tr>
          {% endfor %}
          <tr>
            <td colspan="5" class="pt-5 text-right">
              {% include "bag/bag-total.html" %}
            </td>
          </tr>
          <tr>
            <td colspan="5" class="text-right">
              {% include "bag/checkout-buttons.html" %}
            </td>
          </tr>
        </table>
      </div>
      {% else %}
      <p class="lead mb-5">Your bag is empty.</p>
      <a href="{% url 'products' %}" class="btn btn-outline-grey rounded-0 btn-lg">
        <span class="icon">
          <i class="fas fa-chevron-left"></i>
        </span>
        <span class="text-uppercase">Keep Shopping</span>
      </a>
      <div class="push-bag-empty"></div>
      {% endif %}
    </div>
  </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
<script type="text/javascript">
  $('.btt-button-top').click(function(e) {
    window.scrollTo(0, 0)
  })
  $('.btt-button-down').click(function(e) {
    window.scrollTo(0, document.body.scrollHeight)
  })
</script>
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
  // Update quantity on click
  $('.update-link').click(function(e) {
    var form = $(this).prev('.update-form');
    form.submit();
  })

  // Remove item and reload on click
  $('.remove-item').click(function(e) {
    var csrfToken = "{{ csrf_token }}";
    var itemId = $(this).attr('id').split('remove_')[1];
    var size = $(this).data('product_size');
    var url = `/bag/remove/${itemId}/`;
    var data = {
      'csrfmiddlewaretoken': csrfToken,
      'product_size': size
    };

    $.post(url, data)
      .done(function() {
        location.reload();
      });
  })
</script>
{% endblock %}
