{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}

{% block content %}
<!-- hero image -->
<section class="hero-image h-100">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-6 offset-5 col-sm-6 offset-sm-6 col-md-5 offset-md-7 col-lg-5 offset-lg-7 col-xl-5 offset-xl-7 my-auto text-right">
        <h1 class="display-4 logo-font text-black">
          The new collections are here
        </h1>
        <div class="my-xl-4 my-lg-4 my-md-3 my-sm-2">
          <h4>
            <a href="{% url 'products' %}" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-1 py-sm-1 py-md-2 py-lg-3 py-xl-3">Shop Now</a>
          </h4>
        </div>
      </div>
    </div>
  </div>
</section>

<div class="features-showcase-testimonial">
<!-- icons grid -->
<section class="features-icons bg-white text-center">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="fas fa-shipping-fast m-auto text-skyblue"></i>
          </div>
          <h3>Free shipping & return</h3>
          <p class="mb-0">Free Shipping over $75</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-5 mb-lg-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="fas fa-hand-holding-usd m-auto text-skyblue"></i>
          </div>
          <h3>Money back guarantee</h3>
          <p class="mb-0">30 Days Money Back Guarantee</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="features-icons-item mx-auto mb-0 mb-lg-3">
          <div class="features-icons-icon d-flex">
            <i class="far fa-credit-card m-auto text-skyblue"></i>
          </div>
          <h3>Secured payment guarantee</h3>
          <p class="mb-0">SSL Encrypted credit card payments</p>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- image showcases -->
<section class="showcase bg-white">
  <div class="container-fluid p-0">
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('{{ MEDIA_URL }}home/image_showcases/pexels-lucas-da-miranda-1967902-min.jpg');background-color: #555;"></div>
      <div class="col-lg-6 col-lg-6 order-lg-1 my-auto showcase-text">
        <h2 class="text-uppercase text-center">Women</h2>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 text-white showcase-img" style="background-image: url('{{ MEDIA_URL }}home/image_showcases/pexels-omar-lópez-1182825-min.jpg');background-color: #555;"></div>
      <div class="col-lg-6 my-auto showcase-text">
        <h2 class="text-uppercase text-center">Men</h2>
      </div>
    </div>
    <div class="row no-gutters">
      <div class="col-lg-6 order-lg-2 text-white showcase-img" style="background-image: url('{{ MEDIA_URL }}home/image_showcases/pexels-mentatdgt-1174170-min.jpg');background-color: #555;"></div>
      <div class="col-lg-6 order-lg-1 my-auto showcase-text">
        <h2 class="text-uppercase text-center">Kids</h2>
      </div>
    </div>
  </div>
</section>

<!-- testimonials -->
<section class="testimonial text-center bg-white">
  <div class="container">
    <div class="testimonial-header">
    <i class="far fa-comments fa-3x my-auto text-skyblue d-inline"></i>
    <h2 class="text-skyblue text-bold d-inline">Customer reviews</h2>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-4" src="{{ MEDIA_URL }}home/testimonials/pexels-daniel-xavier-1239291-min.jpg" alt="Martina R. picture">
          <h5>Martina R.</h5>
          <p class="font-weight-light mb-0">"The products are always good quality and true sizes. I totally recommend this shopping site."</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-4" src="{{ MEDIA_URL }}home/testimonials/pexels-tim-savage-903661-min.jpg" alt="Noah A. picture">
          <h5>Noah A.</h5>
          <p class="font-weight-light mb-0">"Good tracked delivery service. The products fit well. I'm satisfied!"</p>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="testimonial-item mx-auto mb-5 mb-lg-0">
          <img class="img-fluid rounded-circle mb-4" src="{{ MEDIA_URL }}home/testimonials/pexels-pixabay-235534-min.jpg" alt="Vera P. picture">
          <h5>Vera P.</h5>
          <p class="font-weight-light mb-0">"Good customer service. Friendly and helpful people. My issue got solved quickly. Thank you so much!"</p>
        </div>
      </div>
    </div>
  </div>
</section>
</div>

<section class="gallery h-50">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-6 offset-5 col-sm-6 offset-sm-6 col-md-5 offset-md-6 col-lg-5 offset-lg-6 col-xl-4 offset-xl-7 my-auto text-right">
        <h2 class="logo-font text-white my-xl-4 my-lg-4 my-md-3 my-sm-2">
          Share your own fashion style
        </h2>
        <div class="my-xl-4 my-lg-4 my-md-3 my-sm-2">
            <a href="{% url 'gallery' %}" class="share-now-button btn btn-md rounded-0 text-uppercase">Share now</a>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
