core.Microsoft*
env.py
__pycache__/
*.py[cod]
.theia
.gitpod.dockerfile
.gitpod.yml
env
*.sqlite3
*.pyc
static/images/images-showcases
gallery/templates/gallery/gallery-copy.html
static/js/base_copy.js
static/js/base_extended_copy.js
