core.Microsoft*
env.py
__pycache__/
*.py[cod]
.theia
.gitpod.dockerfile
.gitpod.yml
env
*.sqlite3
*.pyc
node_modules/
templates/includes/base_extended_mobile_top_header.html
templates/includes/base_extended_main_nav.html
static/css/base_extension2.css
