core.Microsoft*
env.py
__pycache__/
*.py[cod]
.theia
.gitpod.dockerfile
.gitpod.yml
env
*.sqlite3
*.pyc
templates/carousel.html
static/images/images-showcases
static/js/base-copy.js
static/js/base-2.js
products/templates/products/includes/no_search_found.html
gallery/templates/gallery/gallery-copy.html
