{% extends "base-extended.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
  <div class="row">
    <div class="col"></div>
  </div>
</div>
{% endblock %}

{% block content %}
<!-- carousel -->
<section class="share-style text-center bg-white">
  <div class="container-fluid">
    <div class="overlay"></div>
    <div class="container mb-2">
      <div class="row">
        <div class="col">
          <hr>
          <h2 class="logo-font mb-4">Gallery</h2>
          <hr>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <!--carousel wrapper-->
          <div class="share-style-header p-3">
            <!-- <i class="far fa-images fa-3x my-auto text-skyblue d-inline"></i> -->
            <h2 class="mb-5 text-skyblue text-bold d-inline">Share your own fashion style...</h2>
          </div>
          <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

            <!--controls-->
            <div class="controls-top p-2">
              <a class="btn btn-circle btn-sm" href="#multi-item-example" data-slide="prev"><i class="fa fa-chevron-left text-white"></i></a>
              <a class="btn btn-circle btn-sm" href="#multi-item-example" data-slide="next"><i class="fa fa-chevron-right text-white"></i></a>
            </div>
            <!--/.controls-->

            <!--indicators-->
            <ol class="carousel-indicators">
              <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
              <li data-target="#multi-item-example" data-slide-to="1"></li>
              <li data-target="#multi-item-example" data-slide-to="2"></li>
            </ol>
            <!--/.indicators-->

            <!--slides-->
            <div class="carousel-inner" role="listbox">

              <!--first slide-->
              <div class="carousel-item active">

                <div class="row">
                  <div class="col-md-4">
                    <div class="card mb-2">
                      <img class="card-img" src="../../../static/images/share-style/pexels-godisable-jacob-871494-min.jpg" alt="Card image cap">
                    </div>
                  </div>

                  <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card mb-2">
                      <img class="card-img" src="../../../static/images/share-style/pexels-andrea-piacquadio-3782968-min.jpg" alt="Card image cap">
                    </div>
                  </div>

                  <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card mb-2">
                      <img class="card-img" src="../../../static/images/share-style/pexels-lucas-pezeta-2529375-min.jpg" alt="Card image cap">
                    </div>
                  </div>
                </div>

              </div>
              <!--/.first slide-->

              <!--second slide-->
              <div class="carousel-item">

                <div class="row">
                  <div class="col-md-4">
                    <div class="card mb-2">
                      <img class="card-img" src="../../../static/images/share-style/pexels-andrea-piacquadio-788567-min.jpg" alt="Card image cap">
                    </div>
                  </div>

                  <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card mb-2">
                      <img class="card-img" src="../../../static/images/share-style/pexels-elle-hughes-1680172-min.jpg" alt="Card image cap">
                    </div>
                  </div>

                  <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card mb-2">
                      <img class="card-img" src="../../../static/images/share-style/pexels-joshua-abner-3605015-min.jpg" alt="Card image cap">
                    </div>
                  </div>
                </div>

              </div>
              <!--/.second slide-->

              <!--third slide-->
              <div class="carousel-item">

                <div class="row">
                  <div class="col-md-4">
                    <div class="card mb-2">
                      <img class="card-img" src="../../../static/images/share-style/pexels-heitor-verdi-2529456-min.jpg" alt="Card image cap">
                    </div>
                  </div>

                  <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card mb-2">
                      <img class="card-img" src="../../../static/images/share-style/pexels-abhishek-gaurav-829552-min.jpg" alt="Card image cap">
                    </div>
                  </div>

                  <div class="col-md-4 clearfix d-none d-md-block">
                    <div class="card mb-2">
                      <img class="card-img" src="../../../static/images/share-style/pexels-godisable-jacob-923210-min.jpg" alt="Card image cap">
                    </div>
                  </div>
                </div>

              </div>
              <!--/.third slide-->

            </div>
            <!--/.slides-->

          </div>
          <!--/.carousel wrapper-->
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock %}
