body {
	background: linear-gradient(rgba(250,250,250,0.3), rgba(250,250,250,0.3)) #fafafa !important;
}

.header-container {
  padding-top: 4rem;
}

.wrapper .container .allauth-container {
	margin-bottom: 27rem;
}

.wrapper .profile-container {
	margin-bottom: 3rem;
}

.push-bag-empty  {
	height: 27rem;
}

/* ------------------------------- buttons */

.btn-skyblue {
  background: #68c6e6;
  color: #fafafa;
}

.btn-outline-black {
  background: #fafafa;
  color: black !important;
  border: 1px solid black;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus,
.btn-outline-black:hover i {
  background: black;
  color: #fafafa !important;
}

.btn-skyblue:hover,
.btn-skyblue:active,
.btn-skyblue:focus {
  background: #68c6e6c7;
  color: #fafafa;
	border: 1px solid #68c6e6;
}

.btn-black:hover {
  background: #222 !important;
  color: #fafafa;
	border: 1px solid #222;
}

/* ------------------------------- text, border, background style */

.text-grey {
	color: #adb5bd;
}

.border-grey {
	border: 1px solid #adb5bd !important;
}

/* ------------------------------- navbar */

 #mobile-home i {
	color: #68c6e6!important;
}

/* ------------------------------- footer */

.push {
  height: 18rem;
}

/* -------------------------------- Media Queries */

/* Extra small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 575px) {

	.footer .container {
		max-width: 80%;
	}

	.btn.btn-outline-black.rounded-0,
	.btn.btn-black.rounded-0 {
		padding: .375rem .375rem;
	}

	.btn.btn-outline-black.rounded-0.btn-lg,
	.btn.btn-black.rounded-0.btn-lg {
		padding: .375rem .375rem;
		font-size: .75rem;
	}

	.increment-qty, .decrement-qty {
		padding: .25rem .5rem !important;
	}

	.display-4.logo-font.text-black {
		font-size: 1.6rem;
	}

	.no-result-found-text h6 {
		font-size: 0.8rem;
	}

	.btt-button-top {
		bottom: 2.5rem;
	}

	.btt-button-top,
	.btt-button-down {
		height: 1.6rem;
		width: 1.6rem;
		right: 0.5rem;
	}

	.fa-arrow-up,
	.fa-arrow-down {
		font-size: 0.6rem;
	}
}

/* Small devices (landscape phones, 576px and up) */
@media only screen and (min-width: 576px) {

	.btn.btn-outline-black.rounded-0,
	.btn.btn-black.rounded-0 {
		padding: .375rem .375rem;
	}

	.btn.btn-outline-black.rounded-0.btn-lg,
	.btn.btn-black.rounded-0.btn-lg {
		padding: .375rem .375rem;
		font-size: .75rem;
	}

	.increment-qty, .decrement-qty {
		padding: .25rem .5rem !important;
	}

	.no-result-found-text h6 {
		font-size: 0.9rem;
	}

	.btt-button-top {
		bottom: 3.25rem;
	}

	.btt-button-top,
	.btt-button-down {
		height: 2.2rem;
		width: 2.2rem;
	}

	.fa-arrow-up,
	.fa-arrow-down {
		font-size: 0.8rem;
	}
}

/* Medium devices (tablets, 768px and up) */
@media only screen and (min-width: 768px) {

  .btn.btn-outline-black.rounded-0,
  .btn.btn-black.rounded-0 {
    padding: .375rem .375rem;
  }

  .btn.btn-outline-black.rounded-0.btn-lg,
  .btn.btn-black.rounded-0.btn-lg {
    padding: .375rem .375rem;
    font-size: .75rem;
  }

  .increment-qty, .decrement-qty {
    padding: .25rem .5rem !important;
  }

	.no-result-found-text h5 {
		font-size: 1.4rem;
	}

	.no-result-found-text h6 {
		font-size: 1rem;
	}

	.btt-button-top {
		bottom: 3.75rem;
	}

	.btt-button-top,
	.btt-button-down {
		height: 2.6rem;
		width: 2.6rem;
	}
}

/* Large devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {

	.no-result-found-text h5 {
		font-size: 1.5rem;
	}
}

/* Extra large devices (large desktops, 1200px and up) */
/* Slightly larger container on xl screens */
@media only screen and (min-width: 1200px) {

	.no-result-found-text h5 {
		font-size: 1.6rem;
	}
}
