html {
    height: 100%;
}

body {
    /* credit https://www.selbekk.io/blog/2019/06/how-to-overlay-your-background-images/ */
		background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)) , url('/static/images/hero-image/homepage-background-1920-min.jpg') no-repeat center center fixed;
    background-size: cover;
    /* height: calc(100vh - 164px); */
		height: 100vh;
    color: #555;
    font-family: 'Lato';
}

/* ------------------------------- button */

.btn-black {
    background: black;
    color: #fafafa;
}

.btn-skyblue {
    background: #68c6e6;
    color: #fafafa;
}

.btn-outline-black {
    background: #fafafa;
    color: black !important; /* use important to override link colors for <a> elements */
    border: 1px solid black;
}

.btn-outline-skyblue {
    background: #fafafa;
    color: #68c6e6 !important; /* use important to override link colors for <a> elements */
    border: 1px solid #68c6e6;
}

.btn-outline-black:hover,
.btn-outline-black:active,
.btn-outline-black:focus {
    background: black;
    color: #fafafa !important;
}

.btn-outline-skyblue:hover,
.btn-outline-skyblue:active,
.btn-outline-skyblue:focus {
    background: #68c6e6;
    color: #fafafa !important;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.share-button:hover,
.share-button:active,
.share-button:focus {
	background: #68c6e6;
	color: #fafafa;
	border: 1px solid #68c6e6;
}

.btn-skyblue:hover,
.btn-skyblue:active,
.btn-skyblue:focus {
    background: #68c6e6d1;
    color: #fafafa;
		border: 1px solid #68c6e6;
}

.btn-black:hover,
.btn-skyblue:active,
.btn-skyblue:focus {
    background: #222;
    color: #fafafa;
		border: 1px solid #222;
}

/* ------------------------------- text, border, background style */

.text-black {
    color: #000 !important;
}

.text-white {
    color: #fafafa !important;
}

.text-skyblue {
    color: #68c6e6 !important;
}

.text-info {
    color: #fafafa!important;
}

.border-black {
    border: 1px solid black !important;
}

.border-skyblue {
    border: 1px solid #68c6e6 !important;
}

.bg-skyblue {
    background: #68c6e6 !important;
}

.bg-transparent {
		background-color: transparent !important;
}

.bg-white {
	background: linear-gradient(rgba(250,250,250,0.3), rgba(250,250,250,0.3)) #fafafa !important;
}

.bg-hover-white {
    transition: all .2s ease-out;
}

.bg-hover-white,
.bg-hover-white:hover {
    background: #fafafa !important;
}

/* ------------------------------- navbar */

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.main-logo-link {
    width: fit-content;
}

.main-logo-link img {
		height: 30px;
	  width: 30px;
	  margin: 0px 10px 16px 10px;
}

#mobile-home {
		color: white!important;
}

input.bg-white {
	background: linear-gradient(rgba(250,250,250,0.3), rgba(250,250,250,0.3)) #fafafa !important;
}

.bg-hover-white:hover h2,
.bg-hover-white:hover ul a i,
.bg-hover-white h2,
.bg-hover-white ul a i {
		color: #68c6e6 !important;
}

.bg-hover-white:hover ul a p,
.bg-hover-white ul a p {
		color: black !important;
}

.bg-hover-white:hover form input,
.bg-hover-white:hover form button,
.bg-hover-white form input,
.bg-hover-white form button {
		border: 1px solid #68c6e6 !important;
}

.bg-hover-white:hover form button,
.bg-hover-white form button {
		background: #68c6e6 !important;
}

.bg-hover-white:hover #main-nav ul li .nav-link,
.bg-hover-white #main-nav ul li .nav-link {
		color: black !important;
}

.bg-hover-white:hover.fixed-top,
.bg-hover-white.fixed-top {
		box-shadow: 2px 2px 2px rgba(104, 198, 230, 0.5);
}

.bg-hover-white:hover nav li a i,
.bg-hover-white nav li a i {
		color: #68c6e6 !important;
}

.bg-hover-white:hover nav li a p,
.bg-hover-white nav li a p {
		color: black !important;
}

.navbar-toggler {
    background-color: transparent;
}

.custom-toggler .navbar-toggler-icon {
  	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  	border-color: #fafafa;
}

.bg-hover-white:hover .navbar-toggler,
.bg-hover-white .navbar-toggler {
    background-color: #fafafa;
}

.bg-hover-white:hover .custom-toggler .navbar-toggler-icon,
.bg-hover-white .custom-toggler .navbar-toggler-icon {
  	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.bg-hover-white:hover .custom-toggler.navbar-toggler,
.bg-hover-white .custom-toggler.navbar-toggler {
  	border-color: rgba(0,0,0, 0.2);
}

.overlay {
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		position: fixed;
		background: #fafafa;
		z-index: -1;
}

a.category-badge > span.badge:hover {
    background: #212529 !important;
    color: #fafafa !important;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* ------------------------------- hero image */

.shop-now-button {
    background: black;
    color: white;
    min-width: 16rem;
}

/* ------------------------------- features icons */

.features-icons {
	  padding-top: 7rem;
	  padding-bottom: 7rem;
}

.features-icons .features-icons-item {
	  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
	  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
	  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
	  font-size: 5rem;
}

/* ------------------------------- Image Showcases */

.showcase .showcase-text {
	  padding: 3rem;
}

.showcase .showcase-img {
	  min-height: 30rem;
	  background-size: cover;
}

.showcase-img {
		max-width: 100%;
	  height: auto;
		background-repeat: no-repeat;
  	background-size: cover;
		background-position: center center;
}

/* ------------------------------- testimonial */

.testimonial {
	  padding-top: 7rem;
	  padding-bottom: 7rem;
}

.testimonial-header {
	  padding-bottom: 4rem;
}

.testimonial .testimonial-item {
	  max-width: 18rem;
}

.testimonial .testimonial-item img {
	  max-width: 12rem;
	  box-shadow: 0px 5px 5px 0px #adb5bd;
}

.testimonial .fa-comments {
	padding-right: 1rem;
}

/* ------------------------------- share style */

.share-style {
		background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)) , url('/static/images/share-style/pexels-jessica-lewis-593325.jpg') no-repeat left top fixed;
    background-size: cover;
		color: #555;
}

.share-button {
    background: black;
    color: #fafafa;
    min-width: 6rem;
}

/* ------------------------------- footer */

footer.footer {
  padding-top: 3rem;
  padding-bottom: 4rem;
	box-shadow: 2px -2px 3px rgba(104, 198, 230, 0.5);
  height: 13rem;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
}

.footer .menu-items a:hover,
.footer .social-links i:hover {
		color: #adb5bd!important;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
		/* high Z index to assure it's always on top of everything else. */
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* from CSS-tricks.com: https://css-tricks.com/snippets/css/css-triangle/ */
.arrow-up {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 10px solid black;
    position: absolute;
    top: -10px;
    right: 36px;
}

/* Convenience classes - colors copied from Bootstrap */
.arrow-primary {
    border-bottom-color: #007bff !important;
}

.arrow-secondary {
    border-bottom-color: #6c757d !important;
}

.arrow-success {
    border-bottom-color: #28a745 !important;
}

.arrow-danger {
    border-bottom-color: #dc3545 !important;
}

.arrow-warning {
    border-bottom-color: #ffc107 !important;
}

.arrow-info {
    border-bottom-color: #17a2b8 !important;
}

.arrow-light {
    border-bottom-color: #f8f9fa !important;
}

.arrow-dark {
    border-bottom-color: #343a40 !important;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem; /* mt-4 */
    color: #6c757d; /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
	/* btn */
		display: inline-block;
	  font-weight: 400;
	  color: #fafafa;
	  text-align: center;
	  vertical-align: middle;
	  -webkit-user-select: none;
	  -moz-user-select: none;
	  -ms-user-select: none;
	  user-select: none;
	  background-color: #000;
	  border: 1px solid #000;
	  padding: .375rem .75rem;
	  font-size: 1rem;
	  line-height: 1.5;
	  border-radius: 0;

  /* standard bootstrap btn transitions */
  	transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
		color: #fafafa;
	  background-color: #222;
	  border-color: #222;
}

.allauth-form-inner-content a {
		color: #17a2b8; /*  text-info */
}

/* Product Form */

.btn-file {
    position: relative;
    overflow: hidden;
}

.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0;
    border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #dc3545;
    border-color: #dc3545;
    border-radius: 0;
}

/* -------------------------------- Media Queries */

@media only screen and (max-width: 575px) {

	.nav-link {
			padding: 0.15rem;
	}

	.nav-link i.fa-lg {
			font-size: 0.9rem;
	}

	.nav-link p {
			font-size: 0.6rem;
	}

	.dropdown-menu a, .nav-item a {
			font-size: 0.7rem;
	}

	.navbar-toggler {
			padding: .6rem .6rem;
			font-size: 1rem;
	}

	#delivery-banner h4 {
			font-size: .9rem;
	}

	.btn.btn-outline-black.rounded-0,
	.btn.btn-black.rounded-0 {
			padding: .375rem .375rem;
	}

	.btn.btn-outline-black.rounded-0.btn-lg,
	.btn.btn-black.rounded-0.btn-lg {
			padding: .375rem .375rem;
			font-size: .75rem;
	}

	.increment-qty, .decrement-qty {
			padding: .25rem .5rem !important;
	}

	.display-4.logo-font.text-black {
			font-size: 1.8rem;
	}

	.shop-now-button {
			min-width: 3rem;
	}

	.btn-lg {
			font-size: 0.8rem;
	}

	.share-style h2 {
			font-size: 1.6rem;
	}

	footer.footer {
		height: 16rem;
	}
}

@media only screen and (min-width: 576px) {

	.nav-link {
			padding: 0.15rem;
	}

	.nav-link i.fa-lg {
			font-size: 1rem;
	}

	.navbar-toggler {
			padding: .6rem .6rem;
			font-size: 1rem;
	}

	#delivery-banner h4 {
			font-size: .9rem;
	}

	.btn.btn-outline-black.rounded-0,
	.btn.btn-black.rounded-0 {
			padding: .375rem .375rem;
	}

	.btn.btn-outline-black.rounded-0.btn-lg,
	.btn.btn-black.rounded-0.btn-lg {
			padding: .375rem .375rem;
			font-size: .75rem;
	}

	.increment-qty, .decrement-qty {
			padding: .25rem .5rem !important;
	}

	.display-4.logo-font.text-black {
			font-size: 2.2rem;
	}

	.shop-now-button {
			min-width: 6rem;
	}

	.btn-lg {
			font-size: 1rem;
	}

	.share-style h2 {
			font-size: 2rem;
	}

	footer.footer {
		height: 13rem;
	}
}

/* pad the top a bit when navbar is collapsed on mobile */
@media only screen and (min-width: 768px) {

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    #delivery-banner h4 {
        font-size: .9rem;
    }

    .btn.btn-outline-black.rounded-0,
    .btn.btn-black.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-black.rounded-0.btn-lg,
    .btn.btn-black.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty, .decrement-qty {
        padding: .25rem .5rem !important;
    }

		.display-4.logo-font.text-black {
        font-size: 2.5rem;
    }

		.shop-now-button {
		    min-width: 8rem;
		}

		.btn-lg {
    		font-size: 1.2rem;
		}

		.showcase .showcase-text {
    		padding: 7rem;
  	}

		.share-style h2 {
				font-size: 2rem;
		}

		footer.footer {
			height: 13rem;
		}
}

/* fixed top navbar only on medium and up */
@media only screen and (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

		.display-4.logo-font.text-black {
        font-size: 3rem;
    }

		.shop-now-button {
		    min-width: 10rem;
		}

		.btn-lg {
    		font-size: 1.4rem;
		}

		.share-style h2 {
		  	font-size: 2rem;
		 }

		footer.footer {
			height: 10rem;
		}
}

/* Slightly larger container on xl screens */
@media only screen and (min-width: 1200px) {
	.fixed-top-desktop-only {
			position: fixed;
			top: 0;
			right: 0;
			left: 0;
			z-index: 1030;
	}

	.display-4.logo-font.text-black {
			font-size: 3.5rem;
	}

	.shop-now-button {
			min-width: 12rem;
	}

	.btn-lg {
			font-size: 1.6rem;
	}

	.share-style h2 {
	  	font-size: 2rem;
	  }

	footer.footer {
	  height: 9rem;
	}
}
